*.log
gitlab/config/*
!gitlab/config/.keep
gitlab/logs/*
!gitlab/logs/.keep
gitlab/data/*
!/gitlab/data/.keep

/keys
/jenkins/keys
/frontend/authorized_keys
/backend/authorized_keys
jenkins/persistent/*
!jenkins/persistent/.keep
frontend/html/*
backend/html/*
